@media ( min-width: 768px ) {
  
    #banner {
        min-height: 300px;
        border-bottom: none;
    }
    .bs-docs-section {
        margin-top: 8em;
    }
    .bs-component {
        position: relative;
    }
    .bs-component .modal {
        position: relative;
        top: auto;
        right: auto;
        left: auto;
        bottom: auto;
        z-index: 1;
        display: block;
    }
    .bs-component .modal-dialog {
        width: 90%;
    }
    .bs-component .popover {
        position: relative;
        display: inline-block;
        width: 220px;
        margin: 20px;
    }
    .nav-tabs { 
        margin-bottom: 15px;
    }
    .progress {
        margin-bottom: 10px;
    }
    .navbar {
        margin:0px;}
    /*html {width:1000px;}*/
    /*left {padding:10px;} */
    left div {
        width:20%; 
        height:400px; 
        float:left; 
        background-color: #fff; 
        border: 1px solid #ddd;
    }
    /*header div {width:100%; height:50px; background-color:#F00;}*/
    /*footer div{width:100%; height:50px; background-color:#0F0;}*/
    .clear {
        clear:both;
    }
    main {
        width:80%; 
        height:400px; 
        float:left; 
        background-color: #FFF; 
        padding:20px;
    }
}