@charset "UTF-8";
body { font: 14px / 1.4 "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "Meiryo", "メイリオ", "Osaka", "MS PGothic", arial, helvetica, clean, sans-serif; *font-size: small; *font: x-small; text-align: center; margin: 0; padding: 0; }

th, td, input, textarea, pre, h2 { margin: 0; padding: 0; }

h1, h2, p, table, th, td { font-size: 98%; font-style: normal; font-weight: normal; margin: 0; padding: 0; text-decoration: none; line-height: 1.6; }

h1 { margin: 0 0 -3px 0; }

h2 { font-weight: bold; font-size: 123.1%; }

hr { clear: both; padding: 0; line-height: 1.2; margin: 0 0 3px 0; _margin: -5px 0 0 0; padding: 0; }

img { border: 0px; }

#print_container { width: 640px; padding: 10px; margin: 0 auto; text-align: left; }

.print-large { font-size: 125%; }

.print-small { font-size: 80%; }

.print-medium { font-size: ''; }

#header_container { padding: 0; _margin-top: -5px; }

#title { float: left; }

#recipe_title { font-weight: bold; font-size: 131%; }

.author { font-size: 93%; }

#user_icon { width: 48px; float: right; margin: 0 0 5px 5px; }

#tool_bar { background: #FFFFCC; border-bottom: 1px solid #D6D7B9; height: 47px; text-align: center; }

#tool_container { margin: 0 auto; text-align: left; width: 640px; }

#font_container { padding: 14px 0 0 0; float: left; width: 200px; _margin: 0 0 0 15px; }

#button_container { float: right; width: 147px; }

#font_container p { float: left; }

#font_size_label { font-size: 12px; /*    font-weight: bold;*/ padding: 2px 8px 0 0; color: #000; color: #666; }

.font_size_item { text-align: center; width: 18px; margin: 0 4px 0 0; }

.font_size_item a { display: block; text-decoration: none; font-size: 12px; _font-size: 14px; width: 18px; height: 18px; border: 1px solid #663333; color: #663333; margin: 0 5px 0 0; background: #FFF; _font-size: 10px; _width: 20px; _height: 20px; _margin: 0; _padding: 0 0 0 1px; }

.font_size_item a.active { border: 1px solid #663333; color: #FFF; background: #663333; font-weight: bold; }

.tool_button { float: right; background: url(/assets/shared/btn_bg.jpg?66ba6546dd128a690cf7bb04c13a7085cdf1c61d6b251ceeb70ea199138bd0a0) no-repeat; /*    background: image-url('themes/recipe/bg_print_button.gif') no-repeat;*/ height: 36px; width: 147px; text-align: center; margin: 5px 0 0 0; }

#tool_print { text-decoration: none; color: #333; font-weight: bold; display: block; padding: 8px 0 0 0; margin: 0 auto; height: 28px; _padding: 11px 0 0 0; _height: 36px; }

#tool_print span { background: url(/assets/shared/printer.gif?51f5e4c3d354e29f04af8b728eac161f7783103f55a75c8d62b0ad96dd6eb32c) no-repeat; padding: 1px 0 0 20px; }

#photo_container { clear: both; /*    overflow: hidden;*/ margin: 15px 0 0; _margin: 5px 0 0 0; }

#main_photo { float: left; width: 220px; _width: 205px; /*    text-align: center;*/ }

#main_photo img { margin: 0; }

#descriptions { float: right; width: 405px; text-align: left; padding: 0 0 10px; }

#description { width: 350px; }

#description_header { height: 6px; }

#description_cont { padding: 10px 15px 0 10px; border-left: 1px solid #D6D7B9; border-right: 1px solid #D6D7B9; width: 319px; _width: 344px; /*  for IE */ margin: 0; word-wrap: break-word; word-break: break-all; }

#description_footer { height: 12px; }

.description_text { margin: 10px 0 0 0; }

.description_text h2 { font-size: 100%; }

.description_text p { font-size: 93%; word-wrap: break-word; }

.sk_product { margin-bottom: 10px; }

.sk_product h2 { font-size: 100%; }

.sk_product p { font-size: 93%; word-wrap: break-word; }

.sk_product .sk_description { margin-top: 5px; font-size: 9px; }

.sk_product_contents { height: 100px; }

.sk_product_image { float: right; width: 100px; margin-left: 10px; }

table#photo_texts { margin-bottom: 10px; width: 520px; }

#ingredients_steps_container { clear: both; padding: 15px 0 0 0; _margin: 0 0 15px 0; _padding: 5px 0 0 0; }

#ingredients_wrapper { width: 220px; _width: 205px; /* for IE */ float: left; }

#steps { width: 400px; margin-left: 240px; _margin-left: 220px; }

#steps td { padding: 0 5px 5px 0; }

#servings h2, #servings p { display: inline; }

#sevings h2 { font-weight: bold; font-size: 17px; }

#ingredients_list { border: solid #CDC89C; border-width: 0 0 1px 0; margin: 0 0 10px; width: 100%; }

#ingredients_list td { border: solid #CDC89C; border-width: 1px 0 0 0; padding: 3px 0; line-height: 1.5; }

#ingredients_list th { border: solid #CDC89C; border-width: 1px 0 0 0; padding: 3px 0; line-height: 1.5; text-align: left; font-weight: bold; vertical-align: top; word-wrap: break-word; word-break: break-all; }

#ingredients_list td { text-align: right; }

.ingredient_name { padding: 0 0 0 1em; }

.ingredient_quantity { text-align: right; padding: 0 1em 0; }

#steps td.step_memo_image_container { padding-right: 0; }

#steps td.step_index { font-size: 113%; }

#steps td.step_memo { margin: 0 0.5em; padding-top: 2px; word-wrap: break-word; word-break: break-all; }

#steps td#kitchen_url { text-align: right; font-size: 85%; }

.product_step td { vertical-align: top; }

.first { clear: both; }

#recipe-memo, #recipe-resource { clear: both; margin: 10px 0 30px 0; }

#recipe-memo { width: 50%; float: left; }

#recipe-resource { width: 40%; float: right; }

#footer_table td { font-size: 9px; }

#footer_table div.qr { font-size: 0px; border: none; }

#footer_table div.qr div { height: 1px; margin: 0px; padding: 0px; overflow: hidden; position: relative; }

#footer_table div.qr span { font-size: 1px; overflow: hidden; display: inline-block; border: none; padding: 0; margin: 0; width: 1px; height: 1px; }

#footer_table div.qr span.black { background-color: #000; position: relative; }

#footer_table div.qr span.black img { position: absolute; top: 0; left: 0; }

#footer_table div.qr span.white { background-color: #fff; }

#mobarepi_introduce { font-weight: bold; padding: 0 7px 0 0; }